{% extends "shared/base.html" %}
{% block content %}

<!-- HERO -->
<section class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-height-large uk-cover-container uk-border-rounded">
      <img src="{{ url_for('static', file_path='img/home.jpg') }}" alt="Alt img" data-uk-cover />
    </div>
  </div>
</section>
<!-- HERO -->

<!--CONTENT-->
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid" data-ukgrid>
      <div class="uk-width-2-3@m">

          <h3 class="uk-heading-line uk-text-bold">
            <div>
              <a class="uk-link-text" href="/add_news_article">
                {% if 'user_id' in request.session %}
                  <span uk-icon="plus"></span>
                {% endif %}
              </a>
              <span>Новости</span>
            </div>
          </h3>

          <div>
            {% for article in data['paginator'].items %}
              {% if loop.last %}
                <div
                  hx-get="{{ url_for("get_news_articles") }}?page={{ data['paginator'].offset + 1 }}"
                  hx-trigger="revealed"
                  hx-swap="afterend"
                >
                  {% include "news_article/news_article.html" with context %}
                  <div class="uk-container uk-container-small">
                    <hr class="uk-margin-remove">
                  </div>
                </div>
              {% else %}
                <div class="">
                  {% include "news_article/news_article.html" with context %}
                  <div class="uk-container uk-container-small">
                    <hr class="uk-margin-remove">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

      </div>

      <div class="uk-width-1-3@m">
        <div data-uk-sticky="offset: 90;media:@m">

          <h4 class="uk-heading-line uk-text-bold"><span>Ресурсы</span></h4>
          <ul class="uk-list">
            <li><a href="http://gosuslugi.ru/">Госуслуги</a></li>
          </ul>

          <h4 class="uk-heading-line uk-text-bold"><span>Контакты</span></h4>
          <div class="uk-tile uk-tile-small uk-tile-muted uk-border-rounded">
                <p>ул. Сибиряков-Гвардейцев, 56/1</p>
                <p>Торговый город "Левобережный"</p>
                <p>Пн. - Сб. с 8.00 по 18.00</p>
                <p>(383)342-82-96</p>
                <p><a href="mailto:ncpo_tr@edu54.ru">ncpo_tr@edu54.ru</a></p>
                <p><a href="http://центр54.рф" target="_blank">центр54.рф</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--/CONTENT-->

{% endblock %}
