{% extends "base.html" %}
{% block layout %}
<div x-data="{ isMenuOpen: false }">
  <div x-show="isMenuOpen" x-transition:enter="transition ease-in-out duration-300 transform"
    x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" class="relative z-50 lg:hidden"
    role="dialog" aria-modal="true">
    <div x-show="isMenuOpen" x-transition:enter="transition-opacity ease-linear duration-300"
      x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
      x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0" class="fixed inset-0 bg-gray-900/80" aria-hidden="true"></div>

    <div class="fixed inset-0 flex">
      <div x-show="isMenuOpen" x-transition:enter="transition ease-in-out duration-300 transform"
        x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0"
        x-transition:leave-end="-translate-x-full" class="relative mr-16 flex w-full max-w-xs flex-1">
        <div x-show="isMenuOpen" x-transition:enter="ease-in-out duration-300" x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-300"
          x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
          class="absolute left-full top-0 flex w-16 justify-center pt-5">
          <button @click="isMenuOpen = false" type="button" class="-m-2.5 p-2.5">
            <span class="sr-only">Close sidebar</span>
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
          <div class="flex h-16 shrink-0 items-center">
            <a href="{{ url_for(" index") }}">
              <img class="h-8 w-auto" src="{{ url_for(" static", file_path="htmx_logo.2.png" ) }}" alt="htmx logo" />
              <img class="h-8 w-auto" src="{{ url_for(" static", file_path="Badge - Black.svg" ) }}"
                alt="litestar logo" /></a>
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">
              <li>
                <ul role="list" class="-mx-2 space-y-1">
                  <li hx-target="#content">
                    <div hx-get="{{ url_for(" contact_get") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Click to Edit
                    </div>
                    <div hx-get="{{ url_for(" bulk_update") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Bulk Update
                    </div>
                    <div hx-get="{{ url_for(" click_to_load") }}?page_size=10&current_page=1"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Click to Load
                    </div>
                    <div hx-get="{{ url_for(" delete_row_get") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Delete row
                    </div>
                    <div hx-get="{{ url_for(" edit_row_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Edit row
                    </div>
                    <div hx-get="{{ url_for(" lazy_loading_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Lazy Loading
                    </div>
                    <div hx-get="{{ url_for(" inline_validation_get") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Inline validation
                    </div>
                    <div hx-get="{{ url_for(" infinite_scroll_get") }}?page_size=1-&current_page=1"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Infinite scroll
                    </div>
                    <div hx-get="{{ url_for(" active_search_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Active search
                    </div>
                    <div hx-get="{{ url_for(" progress_bar_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Progress bar
                    </div>
                    <div hx-get="{{ url_for(" value_select_get") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Value Select
                    </div>
                    <div hx-get="{{ url_for(" animations_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Animations
                    </div>
                    <div hx-get="{{ url_for(" file_upload_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      File upload
                    </div>
                    <div hx-get="{{ url_for(" preserving_file_inputs_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Preserving file inputs
                    </div>
                    <div hx-get="{{ url_for(" dialogs_browser_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Dialogs Browser
                    </div>
                    <div hx-get="{{ url_for(" dialogs_uikit_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Dialogs UIKIT
                    </div>
                    <div hx-get="{{ url_for(" tabs_hateoas_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Tabs Hateoas
                    </div>
                    <div hx-get="{{ url_for(" tabs_hyperscript_index") }}"
                      class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                      Tabs Hyperscript
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
      <div class="flex h-16 shrink-0 items-center">
        <a href="{{ url_for(" index") }}" class="flex">
          <img class="h-8 w-auto" src="{{ url_for(" static", file_path="htmx_logo.2.png" ) }}" alt="htmx logo" />
          <img class="h-8 w-auto" src="{{ url_for(" static", file_path="Badge - Black.svg" ) }}" alt="litestar logo" />
        </a>
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li hx-target="#content" hx-push-url="true">
                <div hx-get="{{ url_for(" contact_get") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Click to Edit
                </div>
                <div hx-get="{{ url_for(" bulk_update") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Bulk Update
                </div>
                <div hx-get="{{ url_for(" click_to_load") }}?page_size=10&current_page=1"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Click to Load
                </div>

                <div hx-get="{{ url_for(" delete_row_get") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Delete row
                </div>
                <div hx-get="{{ url_for(" edit_row_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Edit row
                </div>
                <div hx-get="{{ url_for(" lazy_loading_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Lazy Loading
                </div>
                <div hx-get="{{ url_for(" inline_validation_get") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Inline validation
                </div>
                <div hx-get="{{ url_for(" infinite_scroll_get") }}?page_size=10&current_page=1"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Infinite scroll
                </div>
                <div hx-get="{{ url_for(" active_search_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Active search
                </div>
                <div hx-get="{{ url_for(" progress_bar_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Progress bar
                </div>
                <div hx-get="{{ url_for(" value_select_get") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Value Select
                </div>
                <div hx-get="{{ url_for(" animations_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Animations
                </div>
                <div hx-get="{{ url_for(" file_upload_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  File upload
                </div>
                <div hx-get="{{ url_for(" preserving_file_inputs_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Preserving file inputs
                </div>
                <div hx-get="{{ url_for(" dialogs_browser_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Dialogs Browser
                </div>
                <div hx-get="{{ url_for(" dialogs_uikit_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Dialogs UIKIT
                </div>
                <div hx-get="{{ url_for(" tabs_hateoas_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Tabs Hateoas
                </div>
                <div hx-get="{{ url_for(" tabs_hyperscript_index") }}"
                  class="group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-blue-600">
                  Tabs Hyperscript
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-4 shadow-sm sm:px-6 lg:hidden">
    <button @click="isMenuOpen = true" type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
      <span class="sr-only">Open sidebar</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>

  <main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
      {% block content %}
      <div id="content">
        <span class="text-blue-500 hover:text-blue-600"><a href="https://htmx.org/examples/" target="_blank"
            rel="noopener noreferrer">HTMX examples</a></span>
        with
        <span class="text-blue-500 hover:text-blue-600"><a href="https://docs.litestar.dev/latest/" target="_blank"
            rel="noopener noreferrer">Litestar</a></span>
      </div>
      {% endblock %}
    </div>
  </main>
</div>
{% endblock %}
